.header {
  border-bottom: 2px solid var(--gris3);
  padding: 1rem 0;
}

.nav_items {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .nav_items {
    flex-direction: column;
  }
}

.auth_items {
  display: flex;
  align-items: center;
}

.mr {
  margin-right: 1rem;
}
